body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(#000, #01042d);
  font-family: "Titillium Web", sans-serif;
}

.container {
  position: relative;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.content {
  position: relative;
  padding: 20px;
  color: #fff;
}
